{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
<br>
<div id="site-name" style="margin-bottom: 3px;">
    <a href="{% url 'newbackup' %}">Create New Backup</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'restore_last_backup' %}">Restore last backup</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'load_backups' %}">Load All Backups</a>&nbsp;&nbsp;&nbsp;&nbsp;
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
